<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Happy Days</string>
	<string>TimeShare</string>
	<string>ChooseCruise</string>
	<string>PolyGlot</string>
	<string>Alarmadillo</string>
	<string>Flip</string>
	<string>Dead Storm Rising</string>
	<string>Techniques</string>
</array>
</plist>
